/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication4/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication4/build/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/dist/
/workshops/unit1/HelloWord/JavaApplication6/nbproject/private/
/workshops/unit1/HelloWord/JavaApplication6/build/
/workshops/unit1/HelloWord/JavaApplication6/dist/
/assigments/HW02/JavaApplication7/nbproject/private/
/assigments/HW02/CuerpoRectangulo.java/nbproject/private/
/assigments/HW02/figurasgeometricas/nbproject/private/
/assigments/HW02/CuerpoRectangulo.java/build/
/assigments/HW02/CuerpoRectangulo.java/dist/
/assigments/HW02/JavaApplication10/nbproject/private/
/assigments/HW02/HW02/nbproject/private/
/assigments/HW02/HW02/build/
/assigments/HW02/HW02/dist/
/assigments/HW02/logicalOperations/nbproject/private/
/assigments/HW02/logicalOperations/build/
/workshops/unit1/WS04logicalOperations/JavaApplication13/nbproject/private/
/workshops/unit1/WS04logicalOperations/JavaApplication13/build/
/workshops/unit1/WS04logicalOperations/JavaApplication14/nbproject/private/
/workshops/unit1/WS04logicalOperations/JavaApplication14/build/
/workshops/unit1/WS04logicalOperations/JavaApplication15/nbproject/private/
/workshops/unit1/WS04logicalOperations/JavaApplication15/build/
/workshops/unit1/WS05/JavaApplication16/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/assigments/HW03/Iterations/nbproject/private/
/assigments/HW03/Iterations/build/
/assigments/HW03/Iterations/dist/
/workshops/unit1/WS07Menu/JavaApplication20/nbproject/private/
/workshops/unit1/WS07Menu/Menu/nbproject/private/
/workshops/unit1/WS07Menu/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menu/WS07Menus/build/
/assigments/HW04/HW04Menu/nbproject/private/
/assigments/HW04/HW04Menu/build/
/assigments/HW04/HW04Menu/dist/
/assigments/HW04/Yaguana DanielQ11/nbproject/private/
/EXAMS/unit 1/Yaguana KevinQ11/nbproject/private/
/EXAMS/unit 1/Yaguana KevinQ11/build/
/EXAMS/unit 1/Yaguana KevinQ11/dist/
/workshops/unit 2/WS08Correction/WS08Correction/nbproject/private/
/workshops/unit 2/WS08Correction/WS08Correction/build/
/assigments/HW08FactorialNumber/JavaApplication27/nbproject/private/
/assigments/HW08FactorialNumber/FactorialNumber/nbproject/private/
/assigments/HW08FactorialNumber/FactorialNumber/build/
/assigments/HW08FactorialNumber/FactorialNumber/dist/
/assigments/unit 2/HW09-EmbeddedStructures/WH09-EmebeddedStructure/nbproject/private/
/assigments/unit 2/HW09-EmbeddedStructures/WH09-EmebeddedStructure/build/
/workshops/unit 2/WS09Functions/WS09Functions/nbproject/private/
/workshops/unit 2/WS09Functions/WS09Functions/build/
/assigments/unit 2/HW10Functions/HW09Functions/nbproject/private/
/assigments/unit 2/HW10Functions/HW09Functions/build/
/workshops/unit 2/WS11FuntionsandRecursion/createFunctions/createFunctions/nbproject/private/
/workshops/unit 2/WS11FuntionsandRecursion/createFunctions/createFunctions/build/
/workshops/unit 2/WS11FuntionsandRecursion/refactor/refactor/nbproject/private/
/workshops/unit 2/WS11FuntionsandRecursion/refactor/refactor/build/
/workshops/unit 2/WS11FuntionsandRecursion/recursion/recursion/nbproject/private/
/workshops/unit 2/WS11FuntionsandRecursion/recursion/recursion/build/
/assigments/unit 2/HW11Recursion/refactor/refactor/nbproject/private/
/assigments/unit 2/HW11Recursion/refactor/refactor/build/
/assigments/unit 2/HW11Recursion/recursion/recursion/nbproject/private/
/assigments/unit 2/HW11Recursion/recursion/recursion/build/
/assigments/unit 2/HW11Recursion/recursion/Factorial/nbproject/private/
/assigments/unit 2/HW11Recursion/recursion/Factorial/build/
/assigments/unit 2/HW11Recursion/recursion/project/nbproject/private/
/assigments/unit 2/HW11Recursion/funcionRecursion/nbproject/private/
/assigments/unit 2/HW11Recursion/funcionRecursion/build/
/workshops/unit 2/WS12Libraries/WS12Libraries/nbproject/private/
/workshops/unit 2/WS12Libraries/WS12Libraries/build/
/assigments/unit 2/HW12Libraries/HW12Libraries/nbproject/private/
/assigments/unit 2/HW12Libraries/HW12Libraries/build/
/assigments/unit 2/HW12Libraries/HW12Libraries/dist/
/workshops/unit 2/WS13Task/WS13Task/nbproject/private/
/workshops/unit 2/WS13Task/WS13Task/build/
/workshops/unit 2/WS13Task/WS13Task/WS13-Task/nbproject/private/
/workshops/unit 2/WS13Task/WS13Task/WS13-Task/build/
/workshops/unit 2/WS14Arrays/HouseAnimals/nbproject/private/
/workshops/unit 2/WS14Arrays/HouseAnimals/build/
/assigments/unit 2/HW14Arrays/HW14Arrays/nbproject/private/
/assigments/unit 2/HW14Arrays/HW14Arrays/build/
/quizes/ArrayzQuiz22-02-2021/ArraysQuiz/nbproject/private/
/quizes/ArrayzQuiz22-02-2021/ArraysQuiz/build/
/workshops/unit 2/WS15CorrectionExam/WS15CorrectionExam/nbproject/private/
/workshops/unit 2/WS15CorrectionExam/WS15CorrectionExam/build/
/workshops/unit 2/WS16-MatrixOperation/WS16-MatrixAddition/nbproject/private/
/workshops/unit 2/WS16-MatrixOperation/WS16-MatrixAddition/build/
/assigments/unit 2/HW15MatrixOperation/HW15-MatrixOperation/nbproject/private/
/assigments/unit 2/HW15MatrixOperation/HW15-MatrixOperation/build/
/workshops/unit 2/WS17-MatrixTransposition/MatrixTransposition/nbproject/private/
/workshops/unit 2/WS17-MatrixTransposition/MatrixTransposition/build/
