/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication4/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication4/build/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/BasicOperations/dist/
